body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f7f9;
  color: #333;
}

.title-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color:
}

.title {
  font-size: 2.5rem;
  color: #F5578A!important;
  margin-bottom: 15px;
}

.description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 25px;
}

.action-button {
  background-color: #F5578A;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.action-button:hover {
  background-color: #db4e7b;
}