@import "./Form.css";

button {
  background-color: #04AA6D;
}

button:hover {
  opacity: 1;
}

.extra {
  margin-top: 18px;
  text-align: center;
}

.link {
  color: #F5578A !important;
  text-decoration: none;
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
}
