

.navbar-top
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5578A!important;
  padding: 25px 20px;
  box-shadow: var(--card-shadow);
  border-bottom: 2px solid var(--accent);
  font-family: Arial, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 1000px;
  margin: auto;
  margin-top: 0.7vh;
}

.navbar-topleft,
.navbar-topright
{
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-bottom
{
  margin-top:3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5578A!important;
  padding: 5px 15px;
  box-shadow: var(--card-shadow);
  border-bottom: 2px solid var(--accent);
  font-family: Arial, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 1010px;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}

.navbar-bottomleft,
.navbar-bottomright
{
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-item
{
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  font-weight: bold;
  transition:
  color 0.2s ease;
}

.logo
{
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
  margin-right: 10px;
}